@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

body {
	font-family: "Geist Mono", monospace;
	text-align: center;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}

body::-webkit-scrollbar {
	display: none;         
}

body::-webkit-scrollbar-thumb {
  	background-color: #8C8C8C; 
  	border-radius: .25rem;     
  	border: none;
}

h3, h4, h5 {
	font-weight: 300;
	user-select: none;
}

h1, h2, h3 {
	user-select: none;
	font-weight: 600;
	margin: 1.2rem;
}

h4, h5 {
	margin: .3rem;
}

p {
	font-size: 1rem;
	color: #1c1c1e;
	margin: .2rem;
	line-height: 1.5rem;
	text-align: center;
	width: 90%;
}

b {
	font-family: "Aldrich", serif;
	font-size: 1.1rem;
}

img {
	border-radius: .25rem;
	margin: 1rem;
	user-select: none;
	cursor: pointer;
}

input[type=file] {
	display: none;
}

input[type=checkbox] {
	position: relative;
	display: flex;
	cursor: pointer;
	margin: 1rem 0rem;
}

input[type=range] {
	position: relative;
	display: flex;
	appearance: none;
	width: min(80%, 18rem);
	height: .2rem;
	border-radius: 1rem;
	background: #e9e9e9;
	margin: 1rem;
}

input[type=range]::-webkit-slider-thumb {
	appearance: none;
	height: 1.25rem;
	width: 1.25rem;
	border-radius: 1.25rem;
	background:#f0db4f;
	cursor: grab;
}

small {
	font-size: .9rem;
	font-weight: 300;
	margin: .5rem;
}

textarea {
	width: min(100%, 17rem);
	height: 2.5rem;
	font-size: .9rem;
	letter-spacing: .05rem;
	word-spacing: .05rem;
	font-weight: 300;
	padding: 1rem;
	background-color: #f3f3f3;
	border-radius: .25rem;
	margin: .25rem;
	border: none;
	outline: none;
	user-select: none;
	resize: none;
	transition: .1s ease-in-out;
}

textarea:hover {
	background-color: #eeeeee;
}

button {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	font-family: "Aldrich", serif;
	width: 6rem;
	color: #000000;
	background: #ffe641;
	max-height: 3rem;
	font-size: .9rem;
	font-weight: 700;
	box-shadow: 0px 0px 2px 1px #cfd2d4;
	text-shadow: 0px 0px .5px #181C1F;
	text-transform: uppercase;
	padding: .75rem 1.5rem;
	margin: .5rem;
	letter-spacing: .1rem;
	border-radius: .1rem;
	border: none;
  	overflow: hidden;
	user-select: none;
	cursor: pointer;
}

input[type=text] {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	font-size: .9rem;
	font-weight: 200;
	background-color: inherit;
	border: none;
	padding: 0rem 1rem;
	color: #1c1c1e;
	background: transparent;
	border-bottom: .2rem solid #ececec;
	width: min(100%, 15rem);
	letter-spacing: .05rem;
	height: 2.5rem;
	margin: 0rem 0rem .5rem 0rem;
	outline: none;
	user-select: none;
	transition: .1s ease-in-out;
}

input[type=text]:focus {
	border-bottom: .2rem solid #f0db4f;
}

nav {
	display: flex;
	position: relative;
	justify-content: space-around;
	width: 75%;
	padding: 2rem;
}

::placeholder  {
	text-align: left;
	color: #1c1c1e;
	font-size: inherit;
}

.main {
	display: flex;
	position: relative;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	flex-direction: column;
	flex-wrap: wrap;
	color: #181C1F;
	width: 100%;
	z-index: 1;
}

.nav_item {
	color: #555c5f;
	font-weight: 300;
	font-size: 1.6rem;
	user-select: none;
	text-decoration: none;
}

.items {
    position: relative;
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-around;
	width: 80%;
	margin: .25rem;
}

.medium {
	justify-content: left;
}

.info {
	cursor: pointer;
	border-radius: 1rem;
	background-color: #f7f7f7;
	border-radius: .75rem;
	box-shadow: 1px 2px 2px hsl(0deg 0% 0% / 0.2);
	color: #555c5f;
	font-size: 1rem;
	padding: 1rem 3rem;
	margin-top: 1.5rem;
	user-select: none;
}

.using {
	position: relative;
	display: flex;
	justify-content: space-around;
	width: min(80%, 24rem);
}

.using__item {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	user-select: none;
	width: 4rem;
	height: 3rem;
	border-radius: .2rem;
	box-shadow: 0px 0px 2px 1.5px #9be9a8;
}

.method {
	font-size: 1rem;
	color: #555c5f;
	box-shadow: .5px 2px 2px hsl(0deg 0% 0% / 0.2);
	background-color: #f7f7f7;
	border-radius: .75rem;
	padding: .75rem 1.25rem;
	cursor: pointer;
	user-select: none;
	margin: .75rem;
}

.small {
	width: min(100%, 32rem);
}

.card {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	flex-direction: column;
	text-decoration: none;
	font-size: .7rem;
	font-weight: 200;
	color: #181C1F;
	background-color: inherit;
	box-shadow: 0px 0px 3px .25px #cccccc;
	border-radius: .25rem;
	width: max(10%, 12.5rem);
	height: 8.5rem;
	padding: 0rem 3rem;
	margin: .3rem;
	transition: .1s ease-in-out;
}

.card:hover {
	box-shadow: 0px 0px 3px .5px #bebebe;
}

.label {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	font-size: .85rem;
	color:#000000;
	background-color: #f0db4f;
	border-radius: .25rem;
	width: 5rem;
	height: 2.25rem;
	margin: .5rem 0rem 1rem 0rem;
}

.chosen {
	background-color: inherit;
	box-shadow: 0px 0px 3px .25px #cccccc;
}

.selected {
	cursor: pointer;
	user-select: none;
}

.light {
	text-shadow: none;
	position: fixed;
	font-weight: 600;
	bottom: -.25rem;
	border-radius: .1rem;
	box-shadow: none;
	font-size: .9rem;
	width: 7rem;
	background-color: inherit;
	border: 2px solid #181C1F;
	padding: 1rem;
	transition: .1s ease-in-out;
}

.vertical {
	margin-top: 1rem;
    flex-direction: column;
}

.dot {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.pale {
	opacity: .65;
}

.back {
	margin: 4.5rem;
}

.js-red {
	color: #d53042;
}

.js-lib {
	color: #032f62;
}

.js-pur {
	color: #6f42c1;
}

.js-inst {
	color: #e36209;
}

.icon {
	width: 2rem;
	margin: .75rem;
}

.selected-method {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	align-self: center;
	font-size: 1.1rem;
	font-weight: 700;
	color: #000000;
	width: 2rem;
	height: 2rem;
	background-color: #ececec;
	border-radius: 1rem;
	padding: .5rem;
	cursor: pointer;
	user-select: none;
	margin: 0;
	padding: 0;
}

.notification {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	width: min(50%, 20rem);
	box-shadow: 0px 0px 5px .75px #e9e9e9;
	color:#333333;
	border-radius: .5rem;
	padding: .5rem;
	margin: 1rem;
	cursor: pointer;
	user-select: none;
	transition: .35s ease-in-out;
}

.hidden {
	transform: translate(0rem, -5rem);
}

.code, .code:hover, .code::placeholder {
	position: relative;
	display: flex;
	width: min(100%, 25rem);
	height: 10rem;
	font-size: .9rem;
	letter-spacing: .05rem;
	word-spacing: .05rem;
	font-weight: 300;
	padding: .5rem;
	color: #f7f7f7;
	background-color: #333333;
	border-radius: .5rem;
	margin: .5rem;
	border: none;
	outline: none;
	user-select: none;
	resize: none;
	overflow: hidden;
}